<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>Document</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th><input type="checkbox" checked ></th>
        <th><input class="table-input" type="text" placeholder="ФИО" ></th>
        <th><input class="table-input" type="data" placeholder="Data" ></th>
        <th><input class="table-input" type="text" placeholder="group" ></th>
        <th><input class="table-input" type="text" placeholder="weight" ></th>
        <th><button class="table-btn">submit</button></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span><input type="checkbox" ></span></td>
        <td><span class="column">naprimer 1</span></td>
        <td><span class="column">naprimer 1</span></td>
        <td><span class="column">naprimer 1</span></td>
        <td><span class="column">naprimer 1</span></td>
      </tr>
      </tr>
    </tbody>
  </table>
</body>
</html>
