<style>
    body{
        background-color: #eeeeee;
        padding-top: 84px   ;
    }
    nav {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        border-bottom: 1px solid #ccc;
        padding: 20px;
        color:#000000;
        margin-bottom: 20px;
        font-size: 18px;
        background-color: #eeeeee;
    }

    .nav-list {
        display: inline-flex;

    }

    .nav-list li {
        display: inline;
        margin-left: 20px;
    }

    .nav-list li a {
        color: #000000;
        font-size: 18px;
    }
</style>

<nav>
    <ul class="nav-list">
        <li>
            <a href="/">

            </a>
        </li>
        <li>
            <a href="{% url 'patient_list' %}">
                Пациенты
            </a>
        </li>
    </ul>
    <ul class="nav-list" style="float: right">
        {% if request.user.is_authenticated %}
            <li>
                {{ request.user }}
            </li>
            <li>
                <a href="{% url 'logout' %}">Выйти</a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'login' %}">Авторизоваться</a>
            </li>
        {% endif %}
    </ul>
</nav>
