{% extends 'base.html' %}

{% block content %}

<table class="table">

    <thead class="thead-dark">
        <tr>
            <th scope="col">Личения</th>
            <th scope="col">Схема</th>
            <!-- <th scope="col">Patient</th> -->
            <th scope="col">Цена</th>
            <!-- <th scope="col">neu_3</th> -->
            <!-- <th scope="col">lym_1</th> -->
            <!-- <th scope="col">lym_2</th> -->
            <!-- <th scope="col">lym_3</th> -->


    </thead>


    <tbody>


        <tr>
            <!-- <td><input type="checkbox"  name = "selected_items" value="{{i.id}}"></td>x     -->
            <!-- <td><a href="/variant/{{i.id}}">variant {{ forloop.parentloop.counter }}</a></td> -->
            <td>{{ variant.lichenie}}</td>
            <td>{{ variant.sxema}}</td>
            <td>{{ variant.price}}</td>


            <!-- <td><a href="/analiz/{{i.id}}/">{{ i.analiz }}</a></td> -->
        </tr>


    </tbody>
</table>



{% endblock content %}